﻿@model J3ko.Moviebase.MVC.Models.Detail.TitleDetailEditModel
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_DoubleColumnLayout.cshtml";
}
@MvcHtmlString.Create(
    SquishIt.Framework.Bundle
        .JavaScript()
        .Add("~/Scripts/detail.save.debug.js")
        .Render("~/Scripts/detail.save_#.min.js")
)
@using (Html.BeginForm("Save", "Detail", FormMethod.Post, new { id = "form0" }))
{

    @Html.BoundedValidationSummary(true, "Please correct the errors and try again." , new { @class="solidBox" })
    @Html.EditorForModel()
    <div style="float:right;margin-right:25px;" >
        <input type="submit" value="Save Title" />
    </div>
    <div class="clear"></div>
}
@section sidebar {
    <div style="float:left;padding:0 10px 0 20px;font-size:120%;height:20px;color:#FFFFFF" >Matches</div><div style="float:left;"><img src="@Url.Content("~/Content/images/progress.gif")" alt="Progress" id="imdbProgress" class="hidden" /></div>
    <div class="clear"></div>
    <div style="padding:5px;"><hr /></div>
    <div data-href="@Url.Action("GetMatches", "Shared")" id="matchContainer">
    </div>
}