﻿
@helper DisplayMediaImage(int mediaId, string title){
    var url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
    
    switch(mediaId)
    {
        case 1:   
            <img src="@url.Content("~/Content/images/dvd1.png")" alt="DVD-R" title="@title" />
            break;
        case 2:
            <img src="@url.Content("~/Content/images/dvd2.png")" alt="DVD+R" title="@title" />
            break;
        case 3:
            <img src="@url.Content("~/Content/images/dvd3.png")" alt="DVD-RW" title="@title" />
            break;
        case 4:
            <img src="@url.Content("~/Content/images/dvd4.png")" alt="DVD+RW" title="@title" />
            break;
        case 5:
            <img src="@url.Content("~/Content/images/dvd5.png")" alt="Blu-Ray" title="@title" />
            break;
        default:
            <img src="@url.Content("~/Content/images/dvdx.png")" alt="Unknown" title="@title" />
            break;
    }
}