﻿@model List<J3ko.Moviebase.BOL.TitlePersonBO>
@if (Model != null && Model.Count > 0)
{
<fieldset>
    <legend>Cast</legend>
@for (int i = 0; i < Model.Count; i++)
{
    <div class="titleActorEntry @(i % 2 == 0 ? "titleActorEntryOdd" : "titleActorEntryEven")">
        <span class="titleActorProfile">
        @if (Model[i].ThumbnailId != Guid.Empty)
        { 
        <img src='@Url.Content("~/Content/images/spacer.gif")' onload="this.onload=null;this.src='@Url.Action("Profile", "Shared", new { id = new ShortGuid(Model[i].ThumbnailId) })';" class="profileThumbnail" alt='@Model[i].FullName' /> 
        }
        else
        {
        <img src='@Url.Content("~/Content/images/name.png")' class="profileThumbnail" alt='@Model[i].FullName' /> 
        }
        @Model[i].FullName
        </span>
        <span class="titleActorCharacter"><img src='@Url.Content("~/Content/images/spacer.gif")' class="titleActorSpacer" alt="" />@Model[i].CharacterName</span>
    <div class="clear"></div>
    </div>
}
</fieldset>
}