﻿@model List<J3ko.Moviebase.BOL.GenreBO>
@for (int i = 0; i < Model.Count; i++)
{
    <span class="titleGenreEntry">
        @Html.ActionLink(Model[i].Name, "Index", "Home", new { @fg = @Model[i].Key }, null)@(i < Model.Count - 1 ? "," : "")
    </span>
}