﻿@model J3ko.Moviebase.MVC.Models.Detail.GroupDetailModel

@{
    ViewBag.Title = "GroupDetailModel";
}

<div style="float:left;margin-right:10px;">
    <div style="float:left;">
    @MyHelpers.DisplayMediaImage(Request.IsAuthenticated ? Model.MediaFormatId : -1, Model.Description)
    </div>
    <div style="float:left;margin-left:5px;padding-top:5px;">
    @Html.DisplayFor(x => x.Container)
    <br />
    @Html.DisplayFor(x => x.Slot)
    <br />
    </div>
    <div class="clear"></div>
    @Html.DisplayFor(x => x.Episodes)
</div>