﻿@model List<J3ko.Moviebase.MVC.Models.Detail.GroupDetailModel>
@for (int i = 0; i < Model.Count; i++)
{
<div class="titleGroupDetailEntry">
    <div class="titleGroupDetailHeader" title="@Model[i].Description">
        <span class="float_left">
            @MyHelpers.DisplayMediaImage(Request.IsAuthenticated ? Model[i].MediaFormatId : -1, Model[i].Description)
        </span>
        <span class="float_left" style="padding:2px;">
            @Html.DisplayFor(x => x[i].Container)<br />
            @Html.DisplayFor(x => x[i].Slot)
        </span>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="titleGroupDetailEpisodes">
        @Html.DisplayFor(x => x[i].Episodes)
    </div>
</div>
<div class="clear"></div>
}