﻿@model List<J3ko.Moviebase.BOL.TitlePersonBO>
@if (Model != null && Model.Count > 0)
{
<div class="titleProducers">
    <fieldset>
        <legend>Produced By</legend>
    @for (int i = 0; i < Model.Count; i++)
    {
        <span class="titleProducerEntry">
            @Model[i].FullName
        </span>
        if (i + 1 % 2 == 0)
        {
        <div class="clear"></div>
        }
    }
    </fieldset>
</div>
}