﻿@model List<J3ko.Moviebase.BOL.TitleBO>
@if (Model != null && Model.Count > 0)
{
<div class="titleLeftBorder">
    <div class="titleSuggestions">
    <fieldset>
        <legend>Suggestions</legend>
@foreach (J3ko.Moviebase.BOL.TitleBO t in Model)
{
    <div class="titleSuggestionEntry">
    <a href='@Url.Action("Index", "Detail", new { @id = t.Id })'>
        <img src="@Url.Content("~/Content/images/spacer.gif")" class='thumbnail' alt='@t.Name' title='@t.Name' onload="this.onload=null;this.src='@Url.Action("SmallPoster", "Shared", new { id = new ShortGuid(t.CoverSmallId) })';" />
    </a>
    </div>
}        
    </fieldset>
    </div>
</div>
}