﻿@model J3ko.Moviebase.MVC.Models.Detail.TitleDetailModel
@{
    ViewBag.Title = "TitleDetailModel";
}
<div class="titleLeft">
    <div class="titleLeftBorder">
        <div class="titlePoster">
            <img src='@Url.Content("~/Content/images/spacer.gif")' onload="this.onload=null;this.src='@Url.Action("Poster", "Shared", new { id = Model.PosterId })';" class="posterImageLarge" alt='@Model.Name' />
        </div>
        <div class="titleGenres">
            @Html.DisplayFor(x => x.Genres)
        </div>
    </div>

    <div class="titleLeftBorder">
        <div class="titleGroups">
            @Html.DisplayFor(x => x.Groups)
        </div>
        @Html.DisplayFor(x => x.Directors)
        @Html.DisplayFor(x => x.Producers)
    </div>

    @Html.DisplayFor(x => x.Suggestions)
    <br />
</div>

<div class="titleRight">
    <div class="titleDetails">
        <div class="titleName">
            @Html.DisplayFor(x => x.Name)
        </div>
        <div class="titleLinks">
            @Html.DisplayFor(x => x.ImdbId)
            &nbsp;
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("SyncTitle", "Detail", new { @id = Model.TitleId }))
            {
                <a href="javascript:void(0)" id="syncTitleLink">Sync</a>
            }
            @:&nbsp;
            <a href="@Url.Action("Save", "Detail", new { @id = Model.TitleId })">Edit</a>
        }
        </div>
        <div class="titlePlot">
        <fieldset>
            <legend>Overview</legend>
            <div class="titlePlotEntry">
            @Html.DisplayFor(x => x.Plot)
            </div>
        </fieldset>
        </div>
        <div class="titleActors">
            @Html.DisplayFor(x => x.Actors)
        </div>
        <br />
    </div>
</div>

<div class="clear"></div> 