﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section head {
    @MvcHtmlString.Create(
        SquishIt.Framework.Bundle
            .Css()
            .Add("~/Content/double.debug.css")
            .Render("~/Content/double_#.min.css")
    )
    @RenderSection("head", required: false)
}
<div id="content">
    <div id="welcome">
        @RenderBody()
    </div>
    <!-- end div#welcome -->
</div>
<!-- end div#content -->
<div id="sidebar">
    @RenderSection("sidebar", required: false)
</div>
<!-- end div#sidebar -->
<div style="clear: both; height: 1px">
</div>