﻿@using J3ko.Common.MVC

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @MvcHtmlString.Create(
       SquishIt.Framework.Bundle
            .Css()
            .Add("~/Content/site.debug.css")
            .Add("~/Content/jgrowl.debug.css")
            .Add("~/Content/themes/smoothness/jquery-ui-1.8.16.custom.css")
            .Render("~/Content/site_#.min.css")
    )
    @MvcHtmlString.Create(
        SquishIt.Framework.Bundle
            .JavaScript()
            .Add("~/Scripts/jquery-1.5.1.min.js")
            .Add("~/Scripts/jquery-ui-1.8.16.custom.min.js")
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
            .Add("~/Scripts/jquery.jgrowl.debug.js")
            .Add("~/Scripts/jquery.livequery.js")
            .Add("~/Scripts/site.debug.js")
            .Render("~/Scripts/site_#.min.js")
    )
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.ico")"/>
    @RenderSection("head", required: false)
</head>
<body>
@{
    if (TempData["Notification"] != null)
    {
        <div id="notification">@TempData["Notification"]</div>
    }
}
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1>
                    <a href="#">Moviebase</a></h1>
                <h2>
                    <a href="#">Personal Movie Catalog</a></h2>
            </div>
            <!-- end div#logo -->
            <div id="topMenu">
                <ul>
                    <li class="first">
                        @Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Create New", "Save", "Detail", new { id = "" }, null)</li>
                    }
                    <li>
                        @Html.Partial("_LogOnPartial")</li>
                </ul>
            </div>
            <!-- end div#menu -->
        </div>
        <!-- end div#header -->
        <div id="page">
            @RenderBody()
        </div>

        <!-- end div#page -->
        <div id="footer">
            <p id="legal">
            </p>
            <p id="links">
            </p>
        </div>
        <!-- end div#footer -->
    </div>
    <!-- end div#wrapper -->
</body>
</html>
