﻿@model J3ko.Common.Linq.IPagedList
@{
    string path = Request.Url.AddHttpGetParam("p", "{0}", true).AbsoluteUri;
}
<div class="float_right">
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            <div class="previous"><a href="@string.Format(HttpUtility.UrlDecode(path), Model.PageIndex - 1)">
                « Prev</a></div>
        }
@*        else if (Model.TotalPages > 0)
        {
            <div class="previous-off">« Prev</div>
        }*@
        @for (int page = 1; page <= Model.TotalPages; page++)
        {
            if (page == Model.PageIndex)
            {
                <div class="active">
                    @page.ToString()</div>
            }
            else
            {
                <div><a href="@string.Format(HttpUtility.UrlDecode(path), page)">
                    @page.ToString()</a></div>
            }
        }

        @if (Model.HasNextPage)
        {
            <div class="next"><a href="@string.Format(HttpUtility.UrlDecode(path), Model.PageIndex + 1)">
                Next »</a></div>
        }
@*        else if (Model.TotalPages > 0)
        {
            <div class="next-off">Next »</div>
        }*@
    </div>
</div>

