﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section head {
    @MvcHtmlString.Create(
        SquishIt.Framework.Bundle
            .Css()
            .Add("~/Content/single.debug.css")
            .Render("~/Content/single_#.min.css")
    )
    @RenderSection("head", required: false)
}
<div id="content">
    <div id="welcome">
        @RenderBody()
    </div>
    <!-- end div#welcome -->
</div>
<!-- end div#content -->