﻿@model List<J3ko.Moviebase.BOL.ICodeBO>
@{
    Layout = null;
}
		        <ul>
@foreach (J3ko.Moviebase.BOL.ICodeBO code in Model)
{
			        <li><a href="@string.Format(HttpUtility.UrlDecode(ViewBag.ListItemUrlBase), code.Key)">@code.Value</a></li>
}
		        </ul>
