﻿@model J3ko.Moviebase.MVC.Models.Home.FilterBarModel
@MvcHtmlString.Create(
    SquishIt.Framework.Bundle
        .Css()
        .Add("~/Content/jsddm.debug.css")
        .Render("~/Content/jsddm_#.min.css")
)
@MvcHtmlString.Create(
    SquishIt.Framework.Bundle
        .JavaScript()
        .Add("~/Scripts/jsddm.debug.js")
        .Render("~/Scripts/jsddm_#.min.js")
)
<form action="@Request.Url.AbsoluteUri" method="get">
    <div id="filterBar">
        <div class="top_left"></div>
        <div class="top_mid">
            <div style="float:left;">
            <ul id="jsddm">
	            <li><a href="#">Genre</a>
                    @{ Html.RenderAction("GetAvailableGenres", "Home"); }
                </li>
                <li><a href="#">Release</a>
                    @{ Html.RenderAction("GetAvailableYears", "Home"); }
	            </li>
	            <li><a href="#">Order</a>
		            @{ Html.RenderAction("GetSortOrders", "Home"); }
	            </li>
            </ul>
            </div>
            <div id="search_form">
            @foreach (J3ko.Moviebase.BOL.IFilterableBO f in Model.Filters)
            {
                <input type="hidden" name="@f.Identifier" value="@f.Key" />
            }
                <input type="hidden" name="s" value="@Model.SortOrder" />
                <input type="text" name="t" />&nbsp;
                <input type="submit" value="Search" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="top_right"></div>
        <div class="clear"></div>
        <div class="bordered_box">
            <div class="mid_left">
                <div class="mid_mid">
                    <div class="mid_right">
                        <div class="clear"></div>
                        @Html.DisplayFor(x => x.SearchTerm)
                        @Html.DisplayFor(x => x.Filters)
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear" ></div>
            <div class="bot_right">
                <div class="bot_mid">
                    <div class="bot_left"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>
<div class="clear"></div>
