﻿@model J3ko.Moviebase.MVC.Models.Home.IndexHomeModel
@{
    ViewBag.Title = "Moviebase";
}
@section head
{
    @MvcHtmlString.Create(
        SquishIt.Framework.Bundle
            .JavaScript()
            //.Add("~/Scripts/jquery.tools.min.js")
            .Add("~/Scripts/home.index.debug.js")
            .Render("~/Scripts/home.index_#.min.js")
    )
}
@Html.Partial("_FilterBar", Model.FilterBarModel)
<br />
@Html.Partial("_PaginationPartial", Model)
<br />
<div class="clear" ></div>
<div class="bordered_box" style="width:649px;">
    
    <div class="top_right">        
        <div class="top_mid">
            <div class="top_left"></div>
        </div>
    </div>
    <div class="clear" ></div>

    <div class="mid_left">
        <div class="mid_mid">
            <div class="mid_right">
            <br />
            @if (Model.Titles.Count <= 0)
            {
                @:<center>No Titles Found</center>
            }
            else
            {
                <table class="titleListingTable" border="0" cellspacing="0" cellpadding="0">
                <tr>
                @for (int i = 0; i < Model.Titles.Count; i++)
                {
                    @Html.DisplayFor(m => Model.Titles[i])
                    if ((i + 1) % 5 == 0)
                    {
                        @:</tr><tr>
                    }
                }
                </tr>
                </table>
            }
            <br />
            </div>
        </div>        
    </div>

    <div class="clear" ></div>
    <div class="bot_right">
        <div class="bot_mid">
            <div class="bot_left"></div>
        </div>
    </div>
</div>
<div class="clear" ></div>
@Html.Partial("_PaginationPartial", Model)
<div class="clear" ></div>