﻿@model J3ko.Moviebase.MVC.Models.Detail.EpisodeDetailEditModel
@using J3ko.Common.MVC

@{
    ViewBag.Title = "EpisodeDetailEditModel";
}
<div class="episodeRow">
<div class="episodeTop"></div>
<div class="episodeBody">
@using (Html.BeginAjaxContentValidation("form0"))
{
    using (Html.BeginCollectionItem("episodes"))
    {
        <div style="float:left;">
            @Html.LabelFor(x => x.Name)
            <br />
            @Html.TextBoxFor(x => x.Name)
            <br />
            @Html.ValidationMessageFor(x => x.Name)&nbsp;
            <br />
            @Html.LabelFor(x => x.InstanceId)
            <br />
            @Html.DropDownListFor(x => x.InstanceId, new SelectList(Model.Instances, "Id", "Description", Model.InstanceId))
            <br />
            @Html.ValidationMessageFor(x => x.InstanceId)&nbsp;
            <br />
        </div>
        <div style="float:right;margin-right:25px;">
            <a href="#" class="deleteEpisode"><img src="@Url.Content("~/Content/images/del.gif")" alt="Delete Episode" border="0" /></a>
        </div>
        <div class="clear"></div>
    }
}
</div>
<div class="episodeBottom"></div>
</div>