﻿@model J3ko.Moviebase.MVC.Models.Detail.GroupDetailEditModel
@using J3ko.Common.MVC
@{
    ViewBag.Title = "GroupDetailEditModel";
}
<div class="groupRow">
<div class="boxedTop"></div>
<div class="boxedBody">
@using (Html.BeginAjaxContentValidation("form0"))
{
    using (Html.BeginCollectionItem("groups"))
    {
        <table width="350" style="float:left;">
            <tr>
                <td>
                    @Html.HiddenFor(x => x.GroupId)
                    @Html.LabelFor(x => x.Description)
                    <br />
                    @Html.TextBoxFor(x => x.Description)
                    <br />
                    @Html.ValidationMessageFor(x => x.Description)&nbsp;
                </td>
                <td>
                    @Html.LabelFor(x => x.MediaId)
                    <br />
                    @Html.DropDownListFor(x => x.MediaId, new SelectList(Model.Media, "Id", "Name", Model.MediaId))
                    <br />
                    @Html.ValidationMessageFor(x => x.MediaId)&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.SlotId)
                    <br />
                    @Html.DropDownListFor(x => x.SlotId, new SelectList(Model.Slots, "Id", "Label", Model.SlotId), new { @class = "slotSelector" })
                    <br />
                    @Html.ValidationMessageFor(x => x.SlotId)&nbsp;
                </td>
                <td>
                    @Html.LabelFor(x => x.ContainerId)
                    <br />
                    @Html.DropDownListFor(x => x.ContainerId, new SelectList(Model.Containers, "Id", "Name", Model.ContainerId), new { @class = "containerSelector" })
                    <br />
                    @Html.ValidationMessageFor(x => x.ContainerId)&nbsp;
                </td>
            </tr>
        </table>
        <div style="float:right;margin-right:20px;"><a href="#" class="deleteGroup"><img src="@Url.Content("~/Content/images/del.gif")" alt="Delete Group" border="0" /></a></div>
        <br />
        <div class="clear"></div>
        <br />
        <div class="episodeContainer">
            @Html.EditorFor(x => x.Episodes)
        </div>
        <input type="button" class="addEpisodeDetail" data-href="@Url.Action("AddEpisode", new { containerPrefix = ViewData["ContainerPrefix"] })" value="Add Episode" />
    }
}
</div>
<div class="boxedBottom"></div>
</div>