﻿@model J3ko.Moviebase.MVC.Models.Detail.TitleDetailEditModel
@{
    ViewBag.Title = "TitleDetailEditModel";
}
<div class="boxedTop titleInfoTop"></div>
<div class="boxedBody titleInfo">
@Html.HiddenFor(x => x.TitleId)
@Html.HiddenFor(x => x.ImdbId, new { @id = "imdbIdInput" })
@Html.HiddenFor(x => x.NewPosterUrl, new { @id = "newPosterUrl" })
@Html.HiddenFor(x => x.NewSmallPosterUrl, new { @id = "newPosterSmallUrl" })
<table width="390">
    <tr>
        <td rowspan="3">
            <div class="posterImageSmallContainer">
                <img src='@Url.Action("SmallPoster", "Shared", new { @id = Model.PosterSmallId.ToString() })' id="posterImage" class="posterImageSmall" alt="@Model.Name" />
            </div>
            @if (!Model.IsNew)
            {
            <div class="editViewEntry">@Html.ActionLink("View", "Index", "Detail", new { @id = Model.TitleId })</div>
            }
        </td>
        <td colspan="2">
            @Html.LabelFor(x => x.Name)
            <br />
            @Html.TextBoxFor(x => x.Name, new { id = "titleNameInput" })
            <br />
            @Html.ValidationMessageFor(x => x.Name)&nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.LabelFor(x => x.Plot)
            <br />
            @Html.TextAreaFor(x => x.Plot, new { id = "plotNameInput" })
            <br />
            @Html.ValidationMessageFor(x => x.Plot)&nbsp;
        </td>
    </tr>
    <tr>

        <td>
            @Html.LabelFor(x => x.CategoryId)
            <br />
            @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.Categories, "Id", "Name", Model.CategoryId))
            <br />
            @Html.ValidationMessageFor(x => x.CategoryId)&nbsp;
        </td>
    </tr>
</table>
</div>
<div class="boxedBottom titleInfoBottom"></div>
<div class="clear"></div>
<br />
<div class="groupContainer">
    @Html.EditorFor(x => x.Groups)
</div>
<input type="button" id="addGroupDetail" data-href="@Url.Action("AddGroup")" value="Add Disc" style="margin-left:15px;" />