﻿@model J3ko.Moviebase.MVC.Models.Account.LogOnModel
@using J3ko.Common.MVC
@{
    ViewBag.Title = "Log On";
}
<div style="margin:50px 0px 50px 120px">
@Html.BoundedValidationSummary(true, "Please correct the errors and try again.", new { @class = "solidBox" })

@using (Html.BeginForm())
{
    <div class="boxedTop"></div>
    <div class="boxedBody" style="padding:25px;">
            <p>
                Please enter your user name and password.
            </p>
            <br />
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <br />
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)&nbsp;
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <br />
            <p>
                <input type="submit" value="Log On" />
            </p>
    </div>
    <div class="boxedBottom"></div>
}
</div>