﻿#page {
	width: 710px;
	margin: 0 auto;
	background: url(images/img13.gif) repeat-y;
}
        
#header {
	width: 710px;
	height: 96px;
	margin: 0 auto;
	background: url(images/img14.gif) no-repeat left bottom;
}
        
#content {
	float: left;
	width: 430px;
	padding: 0 0 0 19px;
}

#sidebar {
	float: right;
	width: 240px;
	padding: 0 19px 0 0;
}
               
#footer {
	width: 710px;
	height: 50px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	background: url(images/img15.gif) no-repeat;
	color: #FFFFFF;
}