﻿/* menu styles */

#jsddm
{	
    margin: 0;
	padding: 0;
}

#jsddm li
{
    float: left;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#jsddm li a
{
    display: block;
	background: #666666;
	padding: 4px 12px;
	margin-bottom: 10px;
	text-decoration: none;
	width: 65px;
	height: 15px;
	color: #FFFFFF;
	white-space: nowrap;
}

#jsddm li a:hover
{
    /*background: #454545*/
}

#jsddm li ul
{
    margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}

#jsddm li ul li
{
    float: none;
	display: inline;
}

#jsddm li ul li a
{
    width: auto;
    min-width: 65px;
	background: #666666;
	color: #FFFFFF;
	padding-bottom: 4px;
    margin-bottom: 0px;
}

#jsddm li ul li a:hover
{
    background: #454545
}

/* filterBar */
#filterBar 
{
    width:649px;
}

#filterBar .top_left
{
    width:9px;
    height:46px;
    float:left;
    background: url(images/bg_filter_r1_c1.gif) no-repeat;
}

#filterBar .top_mid
{
    width:631px;
    height:38px;
    float:left;
    padding-top:8px;
    background: url(images/bg_filter_r1_c3.gif) repeat-x;
}

#filterBar .top_right
{
    width:9px;
    height:46px;
    float:left;
    background: url(images/bg_filter_r1_c5.gif) no-repeat;
}

.applied_filter a
{
    line-height:30px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 8px;
    color:#FFFFFF;
}

.applied_filter a:hover
{
    color:#AA2808;
}

#search_form 
{
    float:right;
    padding-top:2px;
}

#search_form input 
{
    vertical-align:middle;
}

#search_form input[type="text"]
{
    height:19px;
}