﻿#content {
	width: 640px;
	padding: 5px 30px 1px 30px;
}
        
#page {
	width: 710px;
	margin: 0 auto;
	background: url(images/img04.gif) repeat-y;
}
        
#header {
	width: 710px;
	height: 96px;
	margin: 0 auto;
	background: url(images/img05.gif) no-repeat left bottom;
}
        
#footer {
	width: 710px;
	height: 50px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	background: url(images/img06.gif) no-repeat;
	color: #FFFFFF;
}