﻿@model J3ko.Moviebase.MVC.Models.Shared.MatchModel
<h3><a href="#">@Model.Title</a></h3>
<div class="imdbContainer" data-title="@Html.Encode(Model.Title)" data-plot="@Html.Encode(Model.Plot)" data-imdbid="@Html.Encode(Model.ImdbId)" >
@Html.DisplayFor(x => x.Posters)
</div>