﻿@model J3ko.Moviebase.BOL.GenreBO
@{
    string path = Request
        .Url
        .RemoveHttpGetParam("p")
        .RemoveHttpGetParam("fg", Model.Key)
        .AbsoluteUri;
}
<div class="float_left applied_filter">
<a href="@path">@Model.ToString()</a>
</div>