﻿@model J3ko.Moviebase.BOL.ReleasedYearFilterBO
@{
    string path = Request
        .Url
        .RemoveHttpGetParam("p")
        .RemoveHttpGetParam("fr", Model.Key)
        .AbsoluteUri;
}
<div class="float_left applied_filter">
<a href="@path">@Model.ToString()</a>
</div>