﻿@model string
@{
    string path = Request
        .Url
        .RemoveHttpGetParam("p")
        .RemoveHttpGetParam("t", Model)
        .AbsoluteUri;
}
@if (!string.IsNullOrWhiteSpace(Model))
{
<div class="float_left applied_filter">
<a href="@path">@string.Format("\"{0}\"", Model)</a>
</div>
}