﻿@model J3ko.Moviebase.MVC.Models.Home.TitleHomeModel
<td>
    <div class="titleHomeListing">
        <div class="titleHomeListingTop"></div>
        <div class="titleHomeListingBody">
            <a href='@Url.Action("Index", "Detail", new { @id = Model.Id })'>
                <img src="@Url.Content("~/Content/images/spacer.gif")" class='thumbnail' alt='@Model.Name' title='@Model.Name' onload="this.onload=null;this.src='@Url.Action("SmallPoster", "Shared", new { id = Model.CoverSmallId })';" />
            </a>
        </div>
        <div class="titleHomeListingBottom"></div>
    </div>
</td>